body{
    background-color: #90C7E3;
    background-image: linear-gradient(#fff,#90C7e3);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    
}

header{
    background-color: #002171;
    background-image: url('sunset.jpg');
    background-repeat: no-repeat;
    color: #fff;
    font-family: Georgia, sans-serif;

}

h1{
    line-height: 200%;
}

nav{
    background-color: #bbdefb;
    color: #bbdefb;
    font-weight: bold;
}
h2{
    color: #1976D2;
    font-family: Georgia, sans-serif;
}

dt{
    color: #002171;
    font-weight: bold;
}

.resort{
    color: #1976D2;
    font-size: 1.2rem;
}

footer{
    font-size: .70em;
    font-style: italic;
    text-align: center;
}

#homehero{
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}